<h1><%= @group['name'] %></h1>

<p><%= @group['description'] %></p>

<h3>Discussion</h3>
<% if @messages.any? %>
  <% @messages.each do |message| %>
    <% if message['id'] == @edit_message_id %>
      <%= render 'messages/edit', message_content: message['content'] %>
    <% else %>
      <div id="message-<%= message['id'] %>">
        <p><%= message['content'] %></p>
        <% if current_user %>
          <p>
            <%= link_to "Edit", "/groups/#{@group['id']}/messages/#{message['id']}/edit" %> |
            <%= link_to "Delete", "/groups/#{@group['id']}/messages/#{message['id']}/", data: {
              confirm: "This will permanently delete this message. Are you sure?",
              method: "delete"
              } %>
          </p>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <h4>No messages found for this group.</h4>
<% end %>

<%= render 'messages/new' %>
