<div class="user-form-container">
  <div class="user-form">
    <h1>Sign up</h1>
    <%= form_for :user, url: '/users' do |f| %>
      <label>
        Name
        <%= f.text_field :name %>
      </label>
      <label>
        Email
        <%= f.email_field :email %>
      </label>
      <label>
        Password
        <%= f.password_field :password %>
      </label>
      <label>
        Password Confirmation
        <%= f.password_field :password_confirmation %>
      </label>
      <div class="user-form-links">
        <%= f.submit "Sign Up", class: "button", id: "new_user_button" %>
        <%= link_to "Sign In", '/signin', class: "user-form-link" %>
      </div>

    <% end %>
  </div>
</div>
