<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Wasteland Message Boards" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">Wasteland Message Boards</li>
          <li><%= link_to "Groups", groups_path %></li>
        </ul>
      </div>
      <% if current_user %>
        <div class="top-bar-right">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="has-submenu">
              <%= link_to "#{current_user.name} (#{current_user.email})", '#0' %>
              <ul class="submenu menu vertical" data-submenu>
                <li><%= link_to "Sign Out", '/signout'%></li>
              </ul>
            </li>
          </ul>
        </div>
      <% else %>
        <div class="top-bar-right">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="has-submenu">
              <%= link_to "Sign In", '/signin' %>
              <ul class="submenu menu vertical" data-submenu>
                <li><%= link_to "Sign Up", '/signup'%></li>
              </ul>
            </li>
          </ul>
        </div>
      <% end %>
    </div>

    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell notifications" data-closable>
          <% if flash[:notice] != nil %>
            <div class="callout primary">
              <p><%= flash[:notice] %></p>
              <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% end %>

          <% if flash[:alert] != nil %>
            <div class="callout alert" data-closable>
              <% if flash[:alert].class == Array %>
                <p><strong>Something went wrong!</strong></p>
                <ul>
                  <% flash[:alert].each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              <% else %>
                <%= flash[:alert] %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="cell contents">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
